@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p style="max-width: 50vw">
    Bem-vindo ao nosso projeto de análise de vídeos! Este projeto foi
    desenvolvido com o objetivo de facilitar a obtenção de informações deta
    lhadas sobre arquivos de vídeo de forma simples e intuitiva. Ao usar nossa pl
    ataforma, você poderá descobrir informações cruciais sobre seus vídeos, ajudando a tornar
    sua experiência de gerenciamento de mídia mais eficiente.
</p>

